@use "../abstracts";

.dropdown {
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1240px, 100%);
    display: none;

    &__inner {
        --inner-max-height: min(582px, 100vh - 158px);
        position: relative;

        max-height: var(--inner-max-height);
        padding: 30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);

        &::before {
            content: url("../icon/dropdown.svg");
            position: absolute;
            top: -12px;
            left: var(--arrow-left-pos);
            translate: -50%;
            filter: var(--dropdown-arrow-color)
        }
    }
}

.top-menu {

    --main-column-width: 292px;
    position: relative;

    &__main {
        width: var(--main-column-width);
        height: calc(var(--inner-max-height) - 60px);
        border-right: 1px solid var(--top-menu-border-color);
        overflow-y: auto;
    }
}

.menu-column {
    display: flex;
    gap: 20px;
    

    + .menu-column {
        margin-top: 17px;
    }

   &__icon {
        position: relative;
        flex-shrink: 0;
        width: 36px;
        height: 36px;

        @include abstracts.breakpoint(xl) {
            display: none;
        }
   }

   &__content {
    flex: 1;
   }


   &__icon-1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
   }

   &__icon-2 {
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: 0;
        right: 0;
        object-fit: cover;
        filter: var(--menu-column-icon-color);
   }

   &__heading {
        margin-top: 8px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 150%;
   }

   &__list {
        margin-top: 19px;
   }

   &__item {
        &--active .sub-menu {
            display: grid;
        }
    }

   
    &__item--active > &__link,
    &__item:hover > &__link {
            color: #0071dc;
            font-weight: 500;
    }

   &__link {
    display: block;
    padding: 7px 0;
    font-size: 1.4rem;
    line-height: 142.857%;
   }
 


}


.sub-menu {
    display: none;
    position: absolute;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    inset: 0 0 0 var(--main-column-width);
    padding-left: 30px;

    overflow-y: auto;

    &--not-main {
        padding-left: 0;
        display: grid;
        inset: initial;
        position: initial;
        grid-template-columns: repeat(4, 1fr);
        height: calc(var(--inner-max-height) - 60px);
    }
}