<div class="container">
    <div class="footer__row">
        <!-- Footer column 1 -->
        <div class="footer__col">
            <h3 class="footer__heading">Cell Phones</h3>
            <ul class="footer__list">
                <li>
                    <a class="footer__link" href="#!">Personal Care</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Electronics</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">5G Phones
                    </a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Tech Savings</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Personal Care</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Patio & Garden</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 2 -->
        <div class="footer__col">
            <h3 class="footer__heading">TV & Video</h3>
            <ul class="footer__list">
                <li>
                    <a class="footer__link" href="#!">Shop all TVs</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">TVs by Size</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Smart TVs</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Roku TVs</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Streaming</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Galaxy Watch</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 3 -->
        <div class="footer__col">
            <h3 class="footer__heading">SUPPORT</h3>
            <ul class="footer__list">
                <li>
                    <a class="footer__link" href="#!">Store Locator</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Order Startus</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Mens</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Womens</a>
                </li>
                <li>
                    <a class="footer__link" href="#!">Apple Watch</a>
                </li>
            </ul>
        </div>
        <!-- Footer column 4 -->
        <div class="footer__col">
            <div class="footer__logo">
                <img src="./assets/icon/logo.svg" alt="" class="footer__logo-img">
                <h3 class="footer__heading">GROCERY MARK</h3>
            </div>
            <p class="footer__desc">Subscrube to our newsletter for a weekly dose of news, updates, helpful tips and exclisive offers</p>
            <div class="footer__btn-submit">
                <input type="text" name="" id="" placeholder="Your email" class="footer__input">
                <button class="footer__btn">SUBSCRIBE</button>
            </div>
            <figure class="footer__social">
                <a href="" class="footer__social-link footer__social-link--facebook">
                    <img src="./assets/icon/facebook.svg" alt="" class="footer__social-icon">
                </a>
                <a href="" class="footer__social-link footer__social-link--youtube">
                    <img src="./assets/icon/youtube.svg" alt="" class="footer__social-icon">
                </a>
                <a href="" class="footer__social-link footer__social-link--twitter">
                    <img src="./assets/icon/twitter.svg" alt="" class="footer__social-icon">
                </a>
                <a href="" class="footer__social-link footer__social-link--intagram">
                    <img src="./assets/icon/intagram.svg" alt="" class="footer__social-icon">
                </a>
            </figure>
        </div>
    </div>           
</div>







