<div class="container">
    <footer class="footer">
        <div id="footer__inner">
            <div class="footer__row">
                <!-- Footer column 1 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SHOP</h3>
                    <ul class="footer__list">
                        <li>
                            <a class="footer__link" href="#!">By Category</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Shop Home</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Mens</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Womens</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">kids</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Classics</a>
                        </li>
                    </ul>
                </div>
                <!-- Footer column 2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SPOTS</h3>
                    <ul class="footer__list">
                        <li>
                            <a class="footer__link" href="#!">Skate</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Surf</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Wumen's Surf</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Snow</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">BMX</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Classics</a>
                        </li>
                    </ul>
                </div>
                <!-- Footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SUPPORT</h3>
                    <ul class="footer__list">
                        <li>
                            <a class="footer__link" href="#!">Store Locator</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Order Startus</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Mens</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">Womens</a>
                        </li>
                        <li>
                            <a class="footer__link" href="#!">kids</a>
                        </li>
                    </ul>
                </div>
                <!-- Footer column 4 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Newsletter</h3>
                    <p class="footer__desc">Subscrube to our newsletter for a weekly dose of news, updates, helpful tips and exclisive offers</p>
                    <div class="footer__btn-row">
                        <input type="text" name="" id="" placeholder="Your email" class="footer__input">
                        <button class="footer__btn">SUBSCRIBE</button>
                    </div>
                    <figure class="footer__cocial">
                        <img src="./assets/icon/fb.png" alt="" class="footer__cocial-icon">
                        <img src="./assets/icon/in.png" alt="" class="footer__cocial-icon">
                        <img src="./assets/icon/tw.png" alt="" class="footer__cocial-icon">
                        <img src="./assets/icon/wh.png" alt="" class="footer__cocial-icon">
                    </figure>
                </div>
            </div>
        </div>
    </footer>
</div>







